---
layout: default
title: NCC Group Research Labs
permalink: /posts-archives-byauthor/
---

{% include group-by-array.html collection=site.posts field='post_author' %}

<h1>Post Archives</h1>

{% include archives-navbar.html %}

<h2>All Blog Posts By Author</h2>

<ul  class="posts">
  {% for category in group_names %}
    {% assign posts = group_items[forloop.index0] %}
    {% if category.size == 0 %}

    {% else %}
    <li>
      <h3><a href="{{ site.baseurl }}/authors/{{ category | replace: " ", "-" }}/">{{ category }}</a></h3>
      <ul class="posts">
        {% for post in posts %}
          <li><span class="hero">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
  {% endfor %}
</ul>
