<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
      <!--
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47756501-1', 'isecpartners.github.io');
        ga('send', 'pageview');

      </script>
      <script>
    	var host = "isecpartners.github.io";
    	if ((host == window.location.host) && (window.location.protocol != "https:"))
	     window.location = window.location.toString().replace(/^http:/, "https:");
      </script>
      -->
   </head>
   <body>
      <div id="container">
        <div id="header">
          <img src="{{ site.baseurl }}/images/ncclogo.jpg">
        </div>

        <div id="navbar">
          <a href="{{ site.baseurl }}/">Home</a> |
          <a href="{{ site.baseurl }}/posts-archives/">Archives</a> |
          <a href="{{ site.baseurl }}/research/">Research</a> |
          <a href="{{ site.baseurl }}/tools/">Tools</a>
        </div>

        <div id="main_content">
           {{ content }}
        </div>

        <div id="sidebar">
          {% if page.download_name and page.download_link %}
          <div class="sidebar_item">
            <h1>Download</h1>
            <a class="button" href="{{ page.download_link }}">{{ page.download_name }}</a>
          </div>
          {% endif %}

          {% if page.download_names and page.download_links %}
          <div class="sidebar_item">
            <h1>Download</h1>
            {% for i in (0..page.download_links.size) %}
            {% unless forloop.last %}
            <a class="button" href="{{ page.download_links[i] }}">{{ page.download_names[i] }}</a>
            {% endunless %}
            {% endfor %}
          </div>
          {% endif %}

          {% if page.github_name and page.github_link %}
          <div class="sidebar_item">
            <h1>Github</h1>
            <a class="button" href="{{ page.github_link }}">{{ page.github_name }} on Github</a>
          </div>
          {% endif %}

          {% if page.github_names and page.github_links %}
          <div class="sidebar_item">
            <h1>Github</h1>
            {% for i in (0..page.github_names.size) %}
            {% unless forloop.last %}
            <a class="button" href="{{ page.github_links[i] }}">{{ page.github_names[i] }} on Github</a>
            {% endunless %}
            {% endfor %}
          </div>
          {% endif %}

          {% if page.conference_name and page.conference_link %}
          <div class="sidebar_item">
            <h1>{{ page.conference_name }}</h1>
            <a class="button" href="{{ page.conference_link }}">See us at {{ page.conference_name }}</a>
          </div>
          {% endif %}

          {% if page.conference_names and page.conference_links %}
          {% for i in (0..page.conference_names.size) %}
          {% unless forloop.last %}
          <div class="sidebar_item">
            <h1>{{ page.conference_names[i] }}</h1>
            <a class="button" href="{{ page.conference_links[i] }}">See us at {{ page.conference_names[i] }}</a>
          </div>
          {% endunless %}
          {% endfor %}
          {% endif %}

          {% if page.cves %}
          <div class="sidebar_item">
            <h1>CVEs</h1>
            <ul>
            {% for c in page.cves %}
              <li><a href="https://www.cve.mitre.org/cgi-bin/cvename.cgi?name={{ c }}">{{ c }}</a></li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}

          {% if page.related %}
          <div class="sidebar_item">
            <h1>Related</h1>
            <ul>
            {% for r in page.related %}
              {% for p in site.posts %}
                {% if p.id contains r %}
                <li><a href="{{ p.url | prepend: site.baseurl }}">{{p.title}}</a> - {{ p.date | date_to_string }}</li>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </ul>
          </div>
          {% endif %}

          {% if site.data.talks %}
          {% assign wrote_header = 0 %}
          {% assign talks_reversed = site.data.talks | reverse %}
          {% for talk in talks_reversed %}
            {% capture nowtime %}{{ "now" | date: '%s' }}{% endcapture %}
            {% assign nowtime = nowtime | plus: 0 %}{% comment %} Cast back to int {% endcomment %}
            {% capture talkexpires %}{{ talk.expires | date: '%s' }}{% endcapture %}
            {% assign talkexpires = talkexpires | plus: 0 %}

            {% if nowtime < talkexpires %}
              {% if wrote_header == 0 %}
              {% assign wrote_header = 1 %}
              <div class="sidebar_item">
                <h1>Upcoming Talks</h1>
                <ul>
              {% endif %}
              <li>{% if talk.link %}<a href="{{ talk.link }}">{% endif %}{{ talk.title }}{% if talk.link %}</a>{% endif %}{{ talk.subtitle }}
              {% if talk.location or talk.dates %} - {% endif %}
              {% if talk.dates %}{{ talk.dates }}{% if talk.location %}; {% endif %}{% endif %}
              {% if talk.location %}{{ talk.location }}{% endif %}</li>
            {% endif %}
          {% endfor %}
          {% if wrote_header == 1 %}
            </ul>
          </div>
          {% endif %}
          {% endif %}

          {% if site.data.upcoming_events %}
          {% assign wrote_header = 0 %}
          {% assign events_reversed = site.data.upcoming_events | reverse %}
          {% for event in events_reversed %}
            {% capture nowtime %}{{ "now" | date: '%s' }}{% endcapture %}
            {% assign nowtime = nowtime | plus: 0 %}{% comment %} Cast back to int {% endcomment %}
            {% capture eventexpires %}{{ event.expires | date: '%s' }}{% endcapture %}
            {% assign eventexpires = eventexpires | plus: 0 %}

            {% if nowtime < eventexpires %}
              {% if wrote_header == 0 %}
              {% assign wrote_header = 1 %}
              <div class="sidebar_item">
                <h1>Upcoming Events</h1>
                <ul>
              {% endif %}
              <li>{% if event.link %}<a href="{{ event.link }}">{% endif %}{{ event.title }}{% if event.link %}</a>{% endif %} {{ event.subtitle }}
              {% if event.location or event.dates %} - {% endif %}
              {% if event.dates %}{{ event.dates }}{% if event.location %}; {% endif %}{% endif %}
              {% if event.location %}{{ event.location }}{% endif %}</li>
            {% endif %}
          {% endfor %}
          {% if wrote_header == 1 %}
            </ul>
          </div>
          {% endif %}
          {% endif %}

          <div class="sidebar_item">
            <h1>Most Recent</h1>
            <ul>
            {% for p in site.posts %}
            <li><a href="{{ p.url | prepend: site.baseurl }}">{{p.title}}</a> - {{ p.date | date_to_string }}</li>
            {% if forloop.index0 >= 2 %}{% break %}{% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>

        <div id="footer">
          NCC Group -
                 <a href="https://github.com/nccgroup/">NCC Group on GitHub</a> -
                 Join us! <a href="https://www.nccgroup.trust/uk/about-us/careers/">UK Careers</a>; <a href="https://www.nccgroup.trust/us/about-us/careers/">US Careers</a>
          </div>
      </div>
   </body>
</html>
